@import '../../../../assets/scss/variables';
.action-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.action-list-price {
  display: flex;
  gap: 10px;
}

.link-button {
  height: 25px!important;
  font-size: 13px!important;
  font-weight: bold !important;
}
.button-container {
  justify-content: right;
  display: flex;
}
.action-list-name{
  font-weight: bold;
}
.btn-link {
  text-decoration: none!important;
  color: $primary-color!important;
}